.app-logo {
  height: 100%;
}

.app-header {
  text-align: center;
  height: 70px !important;
  background-color: #00008B !important;
  align-self: center;
}

/* @media (prefers-reduced-motion: no-preference) {
  .app-logo {
    animation: app-logo-spin infinite 20s linear;
  }
} */

/* .app-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.app-link {
  color: #61dafb;
}

@keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.app-h1 {
  font-family: 'Audiowide';
  color: #FFF;
  /* color: #D3D3D3; */
  /* 'Audiowide' */
  /*'Sofia'*/
  /* font-size: 22px; */
}

.first-row {
  text-align: center;
  align-self: center;
  background-color: #D3D3D3;
}

.delete-button {
  align-self: center;
}

.fit-content {
  width: fit-content !important;
}

.selected-text-field input,
.selected-text-field label {
  font-weight: bold !important;
}

@media only screen and (max-width: 768px) {

  /* For mobile phones: */
  .app-logo {
    width: 95% !important;
  }

  .first-row h1 {
    font-size: 18px;
  }
}